// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #DCA25B;
$orange: #E67E22;
$green: #1EDD88;
$gray: #747373;
$light-gray: #F4F4F4;
$black: #292929;
$white: #F4F4F4;
$forest: #39756f;
$link:#203da5;
$link-hover:#2d57ed;
$button: #0051c9;
$button-hover: $blue;
