
.card-body a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.card {
  border-radius: 8px;
}

#dates p {
  color: black;
  font-weight: lighter !important;
  font-style: italic;
}

.card-body p {
  color: black;
}
