
.card-body a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.card {
  border-radius: 8px;
  height: 29rem;
  margin-bottom: 7px;
  margin-top: 7px;
  box-shadow: 3px 3px 3px lightgray;
}

#dates p {
  color: black;
  font-weight: lighter !important;
  font-style: italic;
}

.card-body p {
  color: black;
}

.card-page-container {
  width: 80%;
  margin: auto;
}

.cards-container {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.dashboard-image{
  border-radius: 5px;
}

#dashboard-card{
  height: 22rem;
}

#dashboard-button{
  background-color: transparent;
  border: none;
  border-width: 1px;
  padding: 1px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position:absolute; top:0; right:0;
}

#trash-icon{
  font-size: small;
  color: rgb(30, 30, 30);
}
