
.card-body a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.card {
  border-radius: 8px;
  height: 27rem;
  margin-bottom: 7px;
  margin-top: 7px;
}

#dates p {
  color: black;
  font-weight: lighter !important;
  font-style: italic;
}

.card-body p {
  color: black;
}

.card-page-container {
  width: 60%;
  margin: auto;
}

.cards-container {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
