// Specific CSS for your home-page

.home-banner {
  height:500px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-content:center;
  // background-image: url("home_banner.jpg");
  background:
        /* top, transparent black, faked with gradient */
        linear-gradient(
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ),
        /* bottom, image */
        url("home_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color:$white;
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    text-rendering: optimizelegibility;
    display: flex;
    justify-content:center;
    align-content:center;
    height: min-content;
  }
}

.centered-text{
  width: 50%;
  margin: auto;
}
