// Specific CSS for your home-page

.home-banner {
  height:500px;
  background-image: url("home_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-bottom: 2%;
  vertical-align: middle;
  a {
    text-decoration: none;
    color:white;
  }
}

.centered-text{
  width: 50%;
  margin: auto;
}

.home-button{
  color: white;
  background-color: #164DB7;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  width: 60%;
  margin: auto;
  a {
    text-decoration: none;
    color: white;
  }
}
