.pfp {
  border-radius: 50%;
}

.profile_container {
  height: 700px;
}


.edit {
  display: inline-block;
  background: lightgray;
  text-transform: capitalize;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  a {
    color: black;
    text-decoration: none;
  }
}
// .edit:hover {
//   box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
//   -webkit-transform: translate(0px, -10px) scale(1.2);
//           transform: translate(0px, -10px) scale(1.2);
// }
