.card-map-aligner {
  margin-top: 25px;
}

#edit-card-button {
  background-color: transparent;
  border: 1px solid $button;
  height: fit-content;
  width: fit-content;
  color:$button;
  margin-bottom: 3;
}
