<%# profile image upload %>
<%# add additional details, bio/favourite destinations etc %>
<div class="container text-center border">
  <p class="pt-3"><%= "#{@user.username.capitalize}" %>'s profile page</p>
  <div class="ava pt-3">
    <%= cl_image_tag @user.photo.key, height: 200, width: 200, crop: :fill, class: "pfp" %>
  </div>
    <div class="bio pt-5 pb-5 wrap-text">
      <%= @user.bio %>
    </div>
  <%= link_to "Edit profile", "users/edit" %>
</div>
