.city-banner {
  height:500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  vertical-align: middle;
  a {
    text-decoration: none;
    color:white;
  }
}

.city-banner-2 {
  width: 100%;
  size: cover;
  color: white;
  margin-bottom: 2%;
  vertical-align: middle;
  a {
    text-decoration: none;
    color:white;
  }
}
h1 {
  text-shadow: 1px 1px 2px grey;
}
