.city-journey-card {
border-radius: 10px;
box-shadow: 0px 0px 5px darkgrey;
border-color: black;
margin: 10px;
display: flex;
height: 270px;
}

.city-activities {
  display:none;
}

.city-journey-card-show {
border-radius: 10px;
box-shadow: 0px 0px 5px darkgrey;
border-color: black;
margin: 10px;
display: flex;
align-items: center;
height: 230px;
}

.city-card-picture {
  height: 100%;
  object-fit: cover;
  max-width: 15%;
  margin-right: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.city-journey-info{
  width: 85%;
  display: flex;
  flex-direction: column;
}
