.footer-container {
  margin-top: auto;
  width: 100%;
  h3 {
    color:#737373;
  }
}

.foot-link {
  width:2.2%;
  margin: auto;
}

.footer-icon {
  margin: auto;
  width: min-content;
}

.copyright-box {
  background-color: $gray;
}
