#home-button {
  padding:32px;
  text-align: center;
  width: 50%;
  margin: auto;
  a {
    text-decoration: none;
    color: white;
  }
}


.trip-btn-cust {
  text-decoration: none;
  background-color: $button;
  padding:10px;
  border-radius: 10px;
  color:$white;
  margin-bottom: 8px;
  margin-left: 8px;
}
