.mapboxgl-popup {
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: $body-font;
}

.marker {
  background-image: url('droplet.svg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
