.radio-button-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 16px;
  height: fit-content;
  border-radius: 5px;
  border:1px solid #CED4DA;
  overflow: hidden;
  span {
    width: 50%;
    display:flex;
    flex-wrap: nowrap;
    padding: 5px;
    justify-content: center;
    border: 0.5px solid #CED4DA;
    input {
      opacity: 0;
      position: fixed;
      width: 100%;
    }
    input:checked + label {
      background-color:$button-hover;
      border-color: $black;
      transition: 0.2s ease;
    }
    label {
      font-family: $body-font;
    }
  }
  span:hover {
    background-color:$button-hover;
    border-color: $button-hover;
    transition: 0.2s ease;
  }
  }

#shuffle-button {
  width:100%;
  justify-content: center;
}
// WARNING: Found no color leading to 4.5:1 contrast ratio against #FD1015...
//          on line 168:3 of node_modules/bootstrap/scss/_functions.scss, in function `color-contrast`
//          from line 8:19 of node_modules/bootstrap/scss/helpers/_colored-links.scss, in function `if`
//          from line 8:16 of node_modules/bootstrap/scss/helpers/_colored-links.scss
//          from line 3:9 of node_modules/bootstrap/scss/_helpers.scss
//          from line 47:9 of node_modules/bootstrap/scss/bootstrap.scss
//          from line 7:9 of app/assets/stylesheets/application.scss
