<div style="height: 600px; position: sticky; top: 12rem;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  class = "mb-5 mt-4 mapboxgl-popup">
</div>
