<div style="height: 600px; position: sticky; top: 12rem; box-shadow: 0px 0px 5px darkgrey;"
  data-controller="map"
  data-map-markers-value="<%= markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  class= "mb-5 card-map-aligner mapboxgl-popup">
</div>
