<h4 class="mb-4" data-edit-journey-target="title">
  <%= "This journey starts on #{@city_journeys.first.start_date.strftime("%a %d %B")} in #{@city_journeys.first.city.name} and ends on #{@city_journeys.last.end_date.strftime("%a %d %B")} in #{@city_journeys.last.city.name}." %>
</h4>
